body {
    background-color: aquamarine;

}

.content {
    font-size: 0.5cm;
    margin: 20px;
    padding: 40px;
}

#title {
    color: black;
}

ol > li {
    color: black;
}

h1 { font-size: 28px; }
p { font-size: 12px; }