<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>    
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="poke in pokemon">${poke}</li>
        </ul>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data:{
                pokemon: [],
            },
            methods: {
                loadPokemon: function() {
                    axios({
                        methods: 'get',
                        url: 'pokemon\templates\pokemon\papi.html',                        
                    }).then(response => {
                        console.log(response.data)
                        this.pokemon = response.data.results
                        console.log(this.pokemon)
                    })
                }
            },
            created: function() {
                this.loadPokemon()
            }
        })
    </script>
</body>
</html>