<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://cdn.jsdelivr.net/npm/axios/dis/axios.min.js"></script>
    <!-- <script src="" -->
    
    <title>Pokedex in Vue</title>
</head>
<body>
    <div class="app">
        <ul>
            <li v-for="poke in pokemon">
                ${ poke.name }
            </li>
        </ul>
        <!-- {{ forms.as_p }} -->
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                inputPokemon: "",
                id: '',
                pokemon: '',
            },
            methods: {
                findPokemonButton: function() {
                    axios({
                        method: 'get',
                        url: `https://pokeapi.co/api/v2/pokemon/${this.id}/`,
                        params: {

                        }
                    }).then((response) => {
                        let pokemon = response.data
                        let pokemonImage = `https://pokeres.bastionbot.org/images/pokemon/${pokemon.id}.png`
                        pokemon.image = pokemonImage
                        this.pokemon = pokemon
                        console.log(this.pokemon)
                    })
                }
            }
        })
    </script>
</body>
</html>