

body{text-align: center;

    /* background-color:rgb(123, 121, 121); */
    background-color: rgb(255, 228, 181);    
}
.Top-navbar{
    /* background-color:rgb(170, 169, 169); */
    background-color: rgb(255, 239, 213);
    box-shadow: 0px 0px 10px;
    margin: 0;
    padding: 1rem 0 ;
    display: flex;  /*originally if i leave it like this it'll just be layed out horizontally unless i change it */
    justify-content: flex-end;
    align-items: center;
    cursor: crosshair;
    
}



.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 25%;
  right: 0;
  background-color: white;
  /* overflow-x: hidden; */
  /* padding-top: 0%; */
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    /* text-decoration: none; */
    font-size: 30px;
    color: #818181;
    display: block;
  }
  
  
/* .sidebar{
    flex-direction:  row;
    
    position:absolute;
    background-color: white;
    justify-content: space-evenly;
    display: flex;
    padding: 5px;
    margin: 5px top;
} */
.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;

}
.nav-item:nth-child(2){
    margin-right: auto;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;/* this adds breathing room to items since by default it puts the close together*/
}

.nav-item a:hover{
    color:var(--clear-primary-light)
}

.nav-item{
    text-decoration: none;
    
}

h1{
    color: rgb(105, 105, 105);
    height: 38px;
    margin: 15px;
    border: .3px solid grey;
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
}

