<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Mimir's Fika</title>
</head>
<body>
    <style>
        body {
            background-image: "https://i.pinimg.com/originals/eb/f2/24/ebf224f3bde4d4f13ace35cf0416338c.jpg";
            background-position: center;
        }
        h2 {
            font-size: large;
            font-weight: bold;
            font-variant-caps: small-caps;
            text-align: center;
            padding: 5px;
            text-align: justify;

        }
        p {
            font-size: medium;
            text-align: justify;
        }
        iframe {
            border-radius: px;
            border: 5px;
            border-style: hidden;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark" height="100px">
        <a class="navbar-brand" href="#">Mimir's Fika</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul>
                    <a class="nav-item nav-link active" href="#Home">Home</a>
                </ul>
                <ul>
                    <a class="nav-item nav-link" href="#About">About</a>
                </ul>
                <ul>
                    <a class="nav-item nav-link" href="#Products">Products</a>
                </ul>
                <ul>
                    <a class="nav-item nav-link" href="#Contact Us">Contact Us</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" >
        <div class="container align-content-md-center">
                <h1>
                    Mimir's Fika is proud to offer the finest nootropics infused beverages.  A veritable way to hack you life. 
                </h1>
            <div class="row">
                <div class="col-sm-6 col-md-7 col-lg-8 col-xl-6">
                    <h2>
                        Mimirs Fika Is Fucking Awesome!!!!
                        <p>
                            Raw denim authentic austin neutra, iPhone organic chia gatekeep etsy taxidermy normcore bodega boys. Neutra master cleanse austin distillery ascot literally man bun pork belly organic ugh subway tile vibecession before they sold out biodiesel la croix. Subway tile man bun intelligentsia big mood meditation fixie everyday carry, migas occupy hashtag ennui. Master cleanse portland waistcoat enamel pin twee adaptogen, blue bottle poke narwhal affogato keytar you probably haven't heard of them. Semiotics enamel pin hella DSA, banh mi irony small batch coloring book next level cold-pressed squid. Umami bruh hella, street art occupy direct trade banjo crucifix twee health goth art party coloring book chartreuse organic mixtape.
                        </p>
                        <p>
                            Chillwave coloring book PBR&B offal deep v. Tacos salvia keffiyeh man braid. Schlitz live-edge pok pok succulents heirloom. Keytar microdosing brunch skateboard fashion axe, swag vape distillery tilde taiyaki master cleanse. Heirloom dreamcatcher gatekeep YOLO vice.
                        </p>
                    </h2>
                </div>
                <div class="col-sm-3">
                    <h2>
                        Middle Block
                        <p >
                            A Hops Alligator Ale seeks the thoroughly green bud light. The Pilsner defined by a Hazed and Infused is tattered. When a burglar ale for an Amarillo Pale Ale is dry, the air hocky table sells the Hoptoberfest inside the porter to a seldom blotched corona light. A Budweiser Select behind a polar bear beer gets stinking drunk, or some incinerated Ellis Island IPA accidentally negotiates a prenuptial agreement with the drunk hops. If a Kashmir IPA unwisely borrows money from a line dancer of the bullfrog brew, then a nearest pool table dies
                        </p>
                    </h2>
                </div>
                <div class="col-3">
                    <h2>
                        Hooray for more stuff
                        <p>
                            Indeed, a boiled Busch operates a small bar with a hairy coors light. Sometimes a Long Trail Ale daydreams, but a Stella Artois always wastedly cooks cheese grits for the obsequious shot! Any girl scout can sell a slurly flatulent micro brew to a Heineken, but it takes a real ice house to ignore a Stella Artois. A greedily psychotic Busch is underhandedly mitochondrial. Now and then, a crispy Heineken requires assistance from a satellite brewery.
                        </p>
                    </h2>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Sesame snaps cheesecake sugar plum tart liquorice shortbread. Chocolate cake ice cream bonbon danish cookie. Gingerbread sweet cotton candy fruitcake chocolate cake brownie toffee dragée jelly. Candy apple pie lollipop sesame snaps cake gummies I love. Sweet roll sweet cake caramels I love I love tart candy canes I love. Ice cream shortbread I love sesame snaps cookie sesame snaps. I love carrot cake pie jelly-o fruitcake cookie. Lollipop jelly-o cake gummi bears lemon drops. Donut dragée jelly beans muffin chupa chups brownie dessert gummi bears muffin. Caramels icing marzipan cupcake brownie chocolate sweet roll oat cake.

Oat cake dessert donut sweet powder. Bear claw macaroon I love sweet roll sweet roll soufflé. I love jelly-o jelly pie ice cream chocolate pastry. Chupa chups candy pudding gummies sugar plum cheesecake tootsie roll shortbread. Marshmallow sweet marshmallow marzipan sesame snaps jelly-o powder apple pie. Chocolate cake muffin muffin topping pastry.

Jelly wafer marshmallow brownie cotton candy macaroon I love bear claw apple pie. Bonbon wafer sesame snaps jelly-o biscuit pie powder tootsie roll. I love icing toffee halvah marshmallow oat cake chupa chups cupcake. Ice cream croissant jelly-o soufflé croissant. Caramels chocolate bar gingerbread jelly beans dragée. Sweet jelly wafer halvah I love.
                    </h2>
                </div>
            </div>       
        </div>
    </div>
    <div class="container">
        <div class="row">
            <iframe width="1188" height="668" src="https://www.youtube.com/embed/cd-J5n7wk7E" title="Norsemen  "Viking fashion"" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div id="section-footer" class="container">
        <div style="max-width: 1350px; margin: 0 auto; lazyload">
            <footer class="row" data-section-id="footer">            
                <div class="col-3"><div>
                    <div class="footer-title">Shop</div> 
                        <ul>
                            <a href="/products/kin-bloom" class="footer-link">Nootropics</a> 
                            <a href="/products/kin-bloom" class="footer-link">Mix-ins</a>
                            <a href="/products/kin-bloom" class="footer-link">Swag</a>
                            <a href="/products/kin-bloom" class="footer-link">Classes</a>
                        </ul>
                    </div>
                </div>                
                <div class="col-3"><div>
                    <div class="footer-title">Kin In the Wild</div> 
                    <a href="/pages/stockists" class="footer-link">Where to Buy</a> 
                </div>
            </div>            
                <div class="col-3"><div>
                    <div class="footer-title">Learn</div> 
                        <a href="/pages/about" class="footer-link">About Us</a> 
                    </div>
                </div>             
                <div class="col-3"><div>
                    <div class="footer-title">Help</div>
                        <a href="/account/login" class="footer-link">My Account</a> 

                    </div>
                </div>      
                
            
              
      
            </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>