{% extends 'base.html' %}

  {% block title %}
    Delete Blog Post 
  {% endblock %}
  {% block content %}
  
  {% if user.is_authenticated %}
    {% if user.id == blogpost.user.id %}
      <h1>Delete: {{ blogpost.title }}</h1>
      </br>
      {% comment %} the form-group is for a forms.py so we can edit it how ever we want {% endcomment %}
      <div class="form-group">
      <form method="POST">
        {% comment %} Needed for security reasons {% endcomment %}
        {% csrf_token %}
        <strong>Are you sure you want to continue?</strong>
        </br>
        </br>
        </br>
        <button class="btn btn-dark">Delete</button>
      </div>
    {% else %}
    Not the signed into the right user
    {% endif %}
  {% else %}
  Something went wrong... Ensure that you're logged in
  {% endif %}

  {% endblock %}