<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Flask lab 05</h1>
    <form action="/recieve_form/" method="post"></form>
    <br> Please input a distance.
    <input type="text" id="distance" name="distance" placeholder="provid a distance"><br>
    <br>Please enter your units (ft, mi, m, km, yd, in)
    <input type="text" id="in_units" name="in_units" placeholder="provid a unit"><br>
    <button type="submit">submit</button>
</body>
</html>