<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    
    <h3>Login</h3>
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <label for="username_1">Username</label> 
        <input type="text" name="username" id="username_1">
        <label for="password_1">Password</label> 
        <input type="password" name="password" id="password_1">
        <input type="submit" value="submit" />

    </form>

</body>
</html>


<!-- line 13 for= and line 14 id link together to be able to click on username  -->