<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <ul>
            {% for post in posts %}
        

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title ">{{ post.title }} </h5>
                    <p class="card-text">{{ post.body }}</p>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>

    <!-- <h1>{{ posts  }}</h1> -->
</body>

</html>