<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <ul>
            <p><a href="{% url 'blog_app:create' %}">Create New Blog?</a></p>

            {% for post in posts %}
        

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title ">{{ post.title }} </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.date_created }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.date_edited}} last edited </h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.user }}</h6>
                    
                    <p class="card-text">{{ post.body }}</p>
                    
                </div>
            </div>
            {% endfor %}
            <p><a href="{% url 'blog_app:create' %}">Create New Blog?</a></p>
        </ul>
    </div>

    <!-- <h1>{{ posts  }}</h1> -->
</body>

</html>