<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div id="app">
  {{ pokemon_data }}
    <template>
      <ul>
        <li v-for="item in pokemon_data" >
          {{ item }}
        </li>
      </ul>
    </template>
</div>
<script>
  let app = new Vue({
    el: '#app',
    data: {
      pokemon_data: []
    },
    methods: {
    },
    created:() => {
      axios
      .get('/pokemon/api/list')
      .then(response => (app.pokemon_data = response.data))
  },
  })
</script>