<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div id="app">
  {{ pokemon_data }}
    <template>
      <input type="text" v-model="search"/><button @click="search">Search</button>
      <ul>
        <li v-for="item in pokemon_data" >{$ item.number $} {$ item.name $} <img :src="item.image_front"/>
        </li>
      </ul>
    </template>
</div>
<script>
  let app = new Vue({
    el: '#app',
    delimiters: ['{$',  '$}'],
    data: {
      pokemon_data: [],
      search: 'item.name'
    },
    methods: {
    },
    created: function(){
      axios({
        method: 'get',
        url: '/api/pokemon'
      }).then((response) =>{
        console.log(response.data)
        this.pokemon_data = response.data;
      }),
      axios({
        method: 'get',
        url: '/api/pokemon',
        params:{
          pokemon: this.search
        },
      }).then((response) =>{
        console.log(response.data)
        this.pokemon_data = response.data;
    })
  }
  })
</script>



{% comment %} axios({
  method: 'get',
  url: '/pokemon/api/list'
}).then((response) => {
  console.log(response.data)
  app.pokemon_data = response.data;

}, (error) => {
  console.log(error);
}) {% endcomment %}