.container { 
    display: flex;
    }
  .red {
    background: orangered;
    display: flex;
    flex-direction: column;
  }
  .green {
    background: yellowgreen;
  }
  .blue {
    background: steelblue;
  }
  .container div {
    font-size: 1vw;
    padding: .5em;
    color: white;
    flex: 1;
  }