<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- display 'message' from the 'data' part of the app in the page -->
        <span>{{ message }}</span>
        <!-- allow the user to set the value of the input -->
        <input type="text" v-model="message"/>
        <!-- handle a click event of a button - calls the method sayHello -->
        <button v-on:click="sayHello">click</button>
      </div>
      <script>
        let app = new Vue({
          // query selector of the html element representing the app
          el: '#app',
          // app data
          // data stored with the app
          // for displaying in the page: {{message}}
          // for getting input from the user: v-model="message"
          // for modifying in methods: this.message
          data: {
            message: 'hello world!'
          },
          // app methods
          // can be called from events in the page: v-on:click="method"
          // can be called from other methods: this.method()
          // can be called from outside the app: app.method()
          methods: {
            sayHello: function() {
              console.log(this.message)
            }
          },
          // created - a lifecycle hook
          // called when the app is created
          // useful for setting up app data
          created: function() {
            console.log(this.message)
          }
        })
      </script>
</body>
</html>