@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: Merriweather;
    color: rgb(235, 235, 235);
    background-color: rgb(0, 0, 20);
}
