<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Unit Converter</title>
    </head>
    <body>
        <h1>Unit Conversions</h1>
        <form action="/conversion">
            <label>Starting Distance</label><br />
            <input type="text" name="number1" value="" required>
            <label for="units1"></label>
            <select id="units1" name="units1">
                <option vaule="ft">Feet</option>
                <option vaule="mi">Miles</option>
                <option vaule="m">Meters</option>
                <option vaule="km">Kilometers</option>
            </select><br />
            <br />

            <!-- <label>Converted Distance</label><br /> -->
            <!-- <input type="text" name="number2" value="" required> -->
            <label for="units2">Choose a conversion unit:</label>
            <select id="units2" name="units2" required>
                <option vaule="ft">Feet</option>
                <option vaule="mi">Miles</option>
                <option vaule="m">Meters</option>
                <option vaule="km">Kilometers</option>
            </select><br />
            <br />
            <input type="submit" value="Convert" />
        </form>    
    </body>
</html>