<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <!-- <div>
        {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <a href="{% url 'users:profile' %}">My Profile</a>
        <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'users:login' %}">Sign-In</a>
        <a href="{% url 'users:register' %}">Sign-Up</a>
        {% endif %}
      </div> -->
    <ul>
        {% for poke in pokemon %}
        <li>
            <a href="#">{{ poke.name }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>