{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script defer src="{% static 'pokeapp/app.js' %}"></script>
</head>
<body>
    <h1>Testing 123</h1>

    <div id="app">
        <div id="search-div">
            <input name="poke-search" v-on:keypress.enter="pokeSearch([[searchTerm]])" v-model="searchTerm" type="text" placeholder="Enter pokemon name">
            <button v-on:click="pokeSearch([[searchTerm]])" id="poke-search-btn">Find poke!</button>
        </div>
        <div id="pokemon-div">
            <div v-for="poke in pokemon" v-bind:value="poke.id" ><div v-if="poke.number"> No: [[poke.number]], Name: [[poke.name]] </div><img v-if="poke.number" v-bind:src="poke.image_front" v-bind:alt="'Picture of ' + poke.name"></div>
        </div>
        <div id="pagination">
            <button id="previous-btn" v-bind:href="'?page='+this.page" v-on:click="previousPage()" v-if="">Previous</button> 
            Page [[page]]
            <button id="next-btn" v-bind:href="'?page='+this.page" v-on:click="nextPage()">Next</button> 
        </div>
    </div>

</body>
</html>