<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Items</title>
</head>
<body>
    <ul>
    {% for todo in todo_list_context %}
        <li>{{ todo.text }}: {{ todo.priority }}</li>
    {% endfor %}
    </ul>

    <form action="{% url 'todo_app:save_name' %}" method="post">
        {% csrf_token %}
        <label for="todo_name">To Do Item</label>
        <input type="text" name="todo_name" id="todo_name"/>
        <label for="priority">Priority</label>
        <select name="priority" id="priority">
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
        </select>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>