<h1>Add Item</h1>

<style>
  label {
    font-size: x-large;
  }
</style>

<form action="/polls/save_todo_item/" method="post">
  {% csrf_token %}
  <label for="tditem">Todo Item:</label><br />
  <input type="text" id="tditem" name="tditem" /><br />

  {% for p in priorities %} {{ p }}

  <input
    type="radio"
    id="{{ p.id }}{{ p.text }}"
    name="priority"
    value="{{ p.id }}"
  />
  <label for="{{ p.id }}{{ p.text }}">{{ p.text }}</label><br />

  {% endfor %} {% comment %}
  <input type="radio" id="high" name="priority" value="1" />
  <label for="high">High</label><br />
  <input type="radio" id="medium" name="priority" value="2" />
  <label for="meduim">Medium</label><br />
  <input type="radio" id="low" name="priority" value="3" />
  <label for="low">Low</label><br />
  {% endcomment %}

  <input type="submit" value="Submit" />
  <input type="reset" />
</form>
