<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Unit Converter</title>
</head>
<body>
    <h1>Feet to Meters</h1>
    <form action="/converter">
        <label>Enter Feet</label>
        <input type="text" name="feetmeters" value="" /><br />
        <input type="submit" value="Convert to meters" />
        </form>
        <form action="/converter2">
        <label>Enter Distance</label>
        <input type="text" name="distance" value="" /><br />
        <label>Enter Units</label>
        <input type="text" name="units" value="" /><br />
        <input type="submit" value="Convert to meters" />
    </form>
</body>
</html>