<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User Website</title>
  </head>
  <body>
    <div>
      {% if user.is_authenticated %}
      <p>Logged in as: <span>{{ user.username }}</span></p>
      <a href="{% url 'myapp:user_profile' %}">My Profile</a><br><br>
      <a href="{% url 'myapp:sign_out' %}">Logout</a><br><br>
      {% else %}
      <a href="{% url 'myapp:sign_in' %}">Sign In</a><br><br>
      <a href="{% url 'myapp:register' %}">Sign Up</a><br><br>
      {% endif %}
    </div>
  </body>
</html>




