<html>
<head></head>
<body>

<form action="/receive_form/" method="post">
    <br>What is the distance? 
    <input type="text" id="input_distance" name="input_distance" placeholder="input an integer"><br>
    <br>What are the input units? Your choices are feet, miles, meters, km, yard, or inch.
    <input type="text" id="input_units" name="input_units" placeholder="feet"><br>
    <br>What are the output units? Your choices are feet, miles, meters, km, yard, or inch.
    <input type="text" id="output_units" name="output_units" placeholder="miles"><br>
    <button type="submit">submit</button>
</form>

</body>
</html>

