<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Register</title>
    </head>
    <body>
        <p>Please register a new account</p>
        <form action="{% url 'myapp:register' %}" method="POST">
            {% csrf_token %}
            <p>Enter your user name:</p>
            <input type="text" name="username" placeholder="username">
            <p>Enter your password:</p>
            <input type="text" name="password" placeholder="password">
            <p>Confirm your password:</p>
            <input type="text" name="confirm_password" placeholder="confirm password">
            <br><br>
            <button type="submit">Register</button>
        </form>
    </body>
</html>